<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.donnKey.kioskInstaller">

    <!-- testOnly is questionable... both alternatives suggested
    https://stackoverflow.com/questions/63241934/cant-setup-device-couldnt-install-the-admin-app-error-while-qr-code-provis
        android:testOnly="false"
     -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:testOnly="false"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".KioskInstall">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        -->
        <receiver
            android:name=".KioskInstallerDeviceAdmin"
            android:description="@string/device_admin_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:label="@string/device_admin_label">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_info" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.intent.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>